.ui {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	display: flex;
	flex-direction: row;

	&__panel {
		width: 30%;
		height: 100%;
		background-color: grey;
	}

	&__main-display {
		width: 70%;
		height: 100%;
	}
}
