.ui {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	display: flex;
	flex-direction: row;

	&__panel {
		width: 20%;
		height: 100%;
		background-color: grey;
	}

	&__main-display {
		width: 80%;
		height: 100%;
		display: flex;
		flex-direction: column-reverse;
		&_message-list {
			background-color: rgb(255, 223, 223);
		}
	}

	&__default-screen {
		width: 100%;
		height: 100%;
		background-image: url('../assets/default.png');
		background-repeat: no-repeat;
		background-size: cover;
		&_navbar {
			width: 100%;
			&_list {
				list-style-type: none;
				width: 100%;
				display: flex;
				&_item {
					width: 50%;
					height: fit-content;
					padding: 5px;
				}
			}
		}
	}
}

.message-form {
	width: 100%;
	height: 5%;
	min-height: 30px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 1px solid black;

	&__input {
		box-sizing: border-box;
		border: none;
		width: 80%;
		margin: 0;
		padding: 5px;
		border: 1px solid black;
		height: 100%;
	}

	&__button {
		box-sizing: border-box;
		border: none;
		width: 20%;
		margin: 0;
		padding: 5px;
		border: 1px solid black;
		height: 100%;
	}

	&__button:hover {
		background-color: rgb(165, 107, 231);
		cursor: pointer;
	}
}

.message {
	width: 100%;
	margin: 1px;
	padding: 0;
	height: fit-content;
	min-height: 50px;
	display: flex;
	flex-direction: row;
	border-top: 1px dotted black;

	&__author {
		font-weight: 700;
		width: 10%;
		align-self: center;
	}
	&__content {
		padding: 10px;
		width: 80%;
	}
	&__createdAt {
		font-size: 0.8rem;
		font-style: italic;
		width: 10%;
	}
}
